<header>
		<!-- navbar -->
		<nav class="navbar navbar-custom navbar-fixed-top" data-spy="affix" data-offset-top="100">
			<div class="container">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand page-scroll logo-light" href="#"><img alt="" src="image/logo2.png"></a>
						<a class="navbar-brand page-scroll logo-clr" href="#"><img alt="" src="image/logo-clr2.png"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right menu">
							<li>
								<a routerLink="home" href="#welcome">Welcome</a>
							</li>
							<li>
								<a routerLink="portfolio">Portfolio</a>
							</li>
							<li>
								<a routerLink="services">Services</a>
							</li>
							<li>
								<a routerLink="contact">Contact</a>
							</li>
							<!-- <li>
								<a href="#pricing">pricing</a>
							</li> -->
							<!-- <li class="hidden-xs">
								<a href="#download">download</a>
							</li> -->
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
	        </div>
		</nav>
		<!-- End navbar -->
	</header>
	<!-- End header -->