<!--Footer  -->
<footer class="footer-wrapper bg-gradient">
		<div class="container">
			<div class="row">
				<div class="social-holder">
					<a href="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="instagram"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					<!-- <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a> -->
				</div>
				<div class="copyright">
					2018 COPYRIGHT <strong>VebX</strong> . ALL RIGHTS RESERVED
				</div>			
			</div>			
		</div>
	</footer>