<div class="breadcrumb-wrapper">
    
  <!--begin container -->
  <div class="container">
      
      <!--begin row -->
      <div class="row">
            
       
        
      </div>
      <!--end row -->
      
  </div>
  <!--end container -->
  
</div>
<!--end breadcrumb-wrapper-->

<!--begin section-white -->
<section class="section-white">
  
  <!--begin container-->
  <div class="container">

      <!--begin row-->
      <div class="row">
      
          <!--begin col-md-6-->
          <div class="col-md-6">

              <img src="/market/images/about1.jpg" alt="picture" class="width-100">

          </div>
          <!--end col-sm-6-->
          
          <!--begin col-md-6-->
          <div class="col-md-6">

              <h3 class="medium-title">Website Development</h3>
              
              <p class="margin-bottom-20">We produce smart, searchable, and scalable web interactions. </p>

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  
                  <div class="panel panel-default">
                      
                      <div class="panel-heading" role="tab" id="headingOne">
                          
                          <h4 class="panel-title">
                          
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="icon icon-rocket panel-icon"></i> Technologies we specialize in?
                          </a>
                          
                          </h4>
                          
                      </div>
                      
                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          
                          <div class="panel-body">
                              <p>We specialize in MongoDB, Express, Angular, Nodejs. The Mean Stack is four powerful technologies
                                  designed created in javascript for full stack development.
                              </p>
                          </div>
                          
                      </div>
                      
                  </div>
                  
                  <div class="panel panel-default">
                      
                      <div class="panel-heading" role="tab" id="headingTwo">
                          
                          <h4 class="panel-title">
                          
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="icon icon-prize-award panel-icon"></i> Website's we specialize in?
                          </a>
                          
                          </h4>
                          
                      </div>
                      
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          
                          <div class="panel-body">
                              <p>We specialize in Ecommerce, but make exceptions. We encourage you to check out some of our recent web development work</p>
                          </div>
                          
                      </div>
                      
                  </div>
                  
                  <div class="panel panel-default">
                      
                      <div class="panel-heading" role="tab" id="headingThree">
                          
                          <h4 class="panel-title">
                          
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="icon icon-present-gift panel-icon"></i> Why use Upwork & Fiverrs system?
                          </a>
                          
                          </h4>
                          
                      </div>
                      
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          
                          <div class="panel-body">
                              <p>Upwork & Fiverr has a great system for clients to use and communicate with programmers, they also include a safe payment method. </p>
                          </div>
                          
                      </div>
                      
                  </div>
                  
              </div>
              
          </div>
          <!--end col-sm-6-->
      
      </div>
      <!--end row-->

  </div>
  <!--end container-->

</section>
<!--end section-white-->

<!--begin section-grey-->




<!--begin section-white -->

<!--end section-white-->

<!--begin testimonials -->
<div class="section-testimonials">
  
  <!--begin container-->
  <div class="container testimonials-wrapper2">

      <!--begin row-->
      <div class="row">
              
          <!--begin col-md-5 -->
          
                          
          <!--begin col-md-7 -->
          <div class="col-md-7">
          
              <p class="testimonials-text">"Your time is limited, so do not waste it living someone else's life. Don't be trapped by dogma - which is living with the results of other people's thinking."</p>
          
          </div>
          <!--end col-md-7 -->
          
      </div>
      <!--end row-->
  
  </div>
  <!--end container-->

</div>
<!--end testimonials-->   

