 <form  action="/contacts" method="post">
              
                <!-- <input name="name" placeholder="Full Name*" type="name"> -->
                <input  name="email" type="email">
                <!-- <textarea class="contact-commnent white-input" rows="2" cols="20" name="contact_message" placeholder="Your Message..."></textarea> -->
                 <button type="submit">Submit</button>
                
            </form>