

<section id="middle" class="contact bg-gradient">
		<div class="container">
			<div class="row">
				<div class="contact-holder row">
					<div class="section-text text-center">
						<h1 class="section-heading">Contact us</h1>
						<p>Sned us a message!</p>
					</div>
					<div class="col-md-6 res-margin">
							<app-message-input></app-message-input>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<ul class="contact-details">
							<li><i class="fa fa-map-marker" aria-hidden="true"></i>
							<span>Chicago, IL</span>
							</li>
							<!-- <li><i class="fa fa-phone" aria-hidden="true"></i>
							<span>West clinson 1213, North Denmark, Denmark </span>
							</li> -->
							<li><i class="fa fa-envelope" aria-hidden="true"></i>
							<span>vebSiteX@outlook.com</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

