<section id="blog" class="sec-pad">
		<div class="container">
			<div class="row">
				<div class="section-text text-center">
					<h1 class="section-heading">Portfolio</h1>
					<p>Our Work</p>
				</div>
				<div class="blog">
					<div class="col-md-4 res-margin">
						<div class="blog-col">
							<a  href="#"><img alt="" src="image/blog-img-1.jpg"></a>
							
							<div class="blog-text">
								<h4><a >Prinxe</a></h4>
								<p>A Beat production and Audio engineering company,
									www.PRINXE.ML
								</p>
							</div>
						</div>
					</div>
					<!-- <div class="col-md-4 res-margin">
							<div class="blog-col">
								<a  href="#"><img alt="" src="image/blog-img-1.jpg"></a>
								
								<div class="blog-text">
									<h4><a href="#">Miraz</a></h4>
									<p>Lorem ipsum dolor sit amet, ridens eligendi an nec, his nostro dolorum splendide te Docendi intellegebat eu pro.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 res-margin">
								<div class="blog-col">
									<a  href="#"><img alt="" src="image/blog-img-1.jpg"></a>
									
									<div class="blog-text">
										<h4><a href="#">Atomic Studios</a></h4>
										<p>Lorem ipsum dolor sit amet, ridens eligendi an nec, his nostro dolorum splendide te Docendi intellegebat eu pro.</p>
									</div>
								</div>
							</div> -->
				</div>
			</div>
		</div>
	</section>