<section id="blog" class="sec-pad">
		<div class="container">
			<div class="row">
				<div class="section-text text-center">
					<h1 class="section-heading">Admir Tiric</h1>
					<p>My Work</p>
        </div>
        <hr>
        <div class="section-text text-center">
					<h1 class="section-heading">Email: AdmirTiric25@hotmail.com</h1>
          <p>(773)-366-2761</p>
          <hr>
          <p>Skills:
          Angular,
          NodeJS,
          Express,
          MongoDB
         </p>
        </div>
        <hr>
  
				<div class="blog">
					<div class="col-md-4 res-margin">
						<div class="blog-col">
							<a><img alt="" src="image/blog-img-1.jpg"></a>
							
							<div class="blog-text">
								<h4><a href="http://prinxe.herokuapp.com">Prinxe</a></h4>
								<p>A Beat production and Audio engineering company, a single page application
                  build on the Mean stack, supporting a messaging service.
								</p>
							</div>
						</div>
          </div>
          <div class="col-md-2 res-margin">
            
            </div>
          <div class="col-md-4 res-margin">
              <div class="blog-col">
                <a><img alt="" src="image/blog-img-2.jpg"></a>
                
                <div class="blog-text">
                  <h4><a href="http://vebxstudios.ml" >VebX</a></h4>
                  <p>VebX is a free-lance web development company who specializes on ecommerce websites.
                    Built using the Mean stack, supporting a messaging service, which has a portfolio, services
                    and contact page all built in Angular 5. 
                  </p>
                </div>
              </div>
            </div>
					<!-- <div class="col-md-4 res-margin">
							<div class="blog-col">
								<a  href="#"><img alt="" src="image/blog-img-1.jpg"></a>
								
								<div class="blog-text">
									<h4><a href="#">Miraz</a></h4>
									<p>Lorem ipsum dolor sit amet, ridens eligendi an nec, his nostro dolorum splendide te Docendi intellegebat eu pro.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 res-margin">
								<div class="blog-col">
									<a  href="#"><img alt="" src="image/blog-img-1.jpg"></a>
									
									<div class="blog-text">
										<h4><a href="#">Atomic Studios</a></h4>
										<p>Lorem ipsum dolor sit amet, ridens eligendi an nec, his nostro dolorum splendide te Docendi intellegebat eu pro.</p>
									</div>
								</div>
							</div> -->
				</div>
			</div>
		</div>
	</section>
