<section id="specification" class="sec-pad">
		<div class="container">
			<div class="row">
				<div class="section-text text-center">
					<h1 class="section-heading">Services</h1>
					<p>Transaction & Payment systems</p>
				</div>
				<div class="specification clearfix flex-cont">
					<div class="col-sm-6">
						<div class="specification-mockup">
							<img alt="" src="image/mckup-img-a.png">
							<img class="anim-img wow animated fadeInRight" data-wow-delay=".1s" alt="" src="image/mckup-img-b.png">
						</div>
					</div>

					<div class="col-sm-6 right-specification">
						<div class="specification-list wow fadeInRight" data-wow-delay=".1s">
							<div class="icon">
								<i class="fa fa-users" aria-hidden="true"></i>
							</div>
							<div class="specification-text">
								<div class="specification-title">
									Upwork
								</div>
								<p>We use Upworks safe transaction system, we set you up with a freelancer over on Upwork and get working as soon as possible</p>
							</div>
						</div>
						<div class="specification-list wow fadeInRight" data-wow-delay=".1s">
							<div class="icon">
								<i class="fa fa-rocket" aria-hidden="true"></i>
							</div>
							<div class="specification-text">
								<div class="specification-title">
									Fiverr
								</div>
								<p>Need just a bug fixed or something done in a day? We can set you up with someone on Fiverr to assist you and fix your problem. </p>
							</div>
						</div>
						<div class="specification-list wow fadeInRight" data-wow-delay=".1s">
							<div class="icon">
								<i class="fa fa-cogs" aria-hidden="true"></i>
							</div>
							<div class="specification-text">
								<div class="specification-title">
									How do I know it's safe?
								</div>
								<p>Upwork and Fiverr offer great payment and transaction systems, proven they have the safest systems.</p>
							</div>
						</div>
					</div>
				</div>				
			</div>			
		</div>
	</section>