<!-- banner -->
<!-- <div id="welcome" class="hero bg-gradient">
		<div id="particles-js"></div>
			<div class="container">
				<div class="row">
					<div class="hero-content">
						<div class="intro-text ">
							<h1 class="intro-heading light">VebX</h1>
							<div class="btn-holder">
								<p>Web Development & Marketing</p>
							</div>
						</div>
						<div class="mockup hidden-xs">
							<img alt="" src="image/mckup-img-a.png">
						</div>
					</div>	
				</div>
			</div>
	</div> -->
	<!-- End Banner -->

	<!-- Service -->
	<section id="feature" class="sec-pad">
		<div class="container">
			<div class="row">
				<div class="section-text text-center">
					<h1 class="section-heading">Technologies</h1>
					<p>Core of our work, We use The Mean Stack</p>
				</div>
				<div class="feature text-center">
					<div class="feature-colum col-md-3 col-sm-6 animated wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
						<div class="feature-icon">
							<i class="fa fa-file-text-o" aria-hidden="true"></i>
						</div>
						<h4>Angular</h4>
						<p>Angular is a development platform that aims to make web development feel effortless,
						 focused on developer productivity, speed and testability. </p>
					</div>
					<div class="feature-colum col-md-3 col-sm-6 animated wow fadeIn" data-wow-delay=".2s" data-wow-duration="2s">
						<div class="feature-icon">
							<i class="fa fa-twitch" aria-hidden="true"></i>
						</div>
						<h4>Node & MongoDB</h4>
						<p>What is Node.js? Node.js is an open source server framework, 
							MongoDB is a free and open-source cross-platform document-oriented database program.</p>
					</div>
					<div class="feature-colum col-md-3 col-sm-6 animated wow fadeIn" data-wow-delay=".3s" data-wow-duration="2s">
						<div class="feature-icon">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</div>
						<h4>The Mean Stack</h4>
						<p>MEAN is a collection of JavaScript-based technologies — MongoDB, Express.js, AngularJS, and Node.js</p>
					</div>
					<div class="feature-colum col-md-3 col-sm-6 animated wow fadeIn" data-wow-delay=".4s" data-wow-duration="2s">
						<div class="feature-icon">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</div>
						<h4>Need work done in one of these?</h4>
						<p>Head over to contact and send us a message!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Service -->

	<!-- About app -->
	<!-- <section id="overview" class="sec-pad bg-grey">
		<div class="container">
			<div class="row">
				<div class="section-text text-center">
					<h1 class="section-heading">About App</h1>
					<p>Simple Overview</p>
				</div>
				<div class="overview flex-cont row">
					<div class="col-sm-6">
						<div class="overview-mockup">
							<img alt="" src="image/mckup-img-a.png">
							<img class="scroll-item scrl-img-1" data-bottom="transform:translatex(74px)" data-top="transform:translatex(34px)" alt="" src="image/mockup-3.png">
							<img class="scroll-item scrl-img-2" data-bottom="transform:translatex(-110px)" data-top="transform:translatex(-70px)" alt="" src="image/mockup-4.png">
							<img class="scroll-item scrl-img-3" data-bottom="transform:translatex(74px)" data-top="transform:translatex(34px)" alt="" src="image/mockup-5.png">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="overview-text animated wow fadeIn" data-wow-delay=".1s">
							<h2>Manage meeting, conference, dating from anywhere.</h2>
							<p>Lorem ipsum dolor sit amet pro et case assentior, ne duo sint scribentur omittantur. Soluta quaeque atomorum ad eos, mei ei euripidis adipiscing signiferumque.</p>
							<div class="btn-holder">
								<a class="btn btn-primary" href="">
								<i class="fa fa-apple" aria-hidden="true"></i><p class="bwicon">Available on<br><span>Apple store</span></p></a>
								<a class="btn btn-secondary" href="">
								<i class="fa fa-android" aria-hidden="true"></i><p class="bwicon">Available on<br><span>google store</span></p></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End about app -->

	<!-- Feature -->
	<!-- End Feature -->

	<!-- Counter -->
	<!-- <section class="parallax-bg" style='background-image: url("image/bg-parallax.jpg")' data-stellar-background-ratio="0.5">
		<div class="overly text-center sec-pad-lg">
			<div class="container">
				<div class="row">
					<div class="static-warapper clearfix">
						<div class="col-md-3 col-xs-6 counter-wrapper res-margin">
							<div class="top-row">
								<i class="fa fa-cloud-download" aria-hidden="true"></i>
								<p class="counter">510</p>
							</div>
							<p>Downloads</p>
						</div>
						<div class="col-md-3 col-xs-6 counter-wrapper res-margin">
							<div class="top-row">
								<i class="fa fa-random" aria-hidden="true"></i>
								<p class="counter">545</p>
							</div>
							<p>Worldwide Users</p>
						</div>
						<div class="col-md-3 col-xs-6 counter-wrapper res-margin">
							<div class="top-row">
								<i class="fa fa-th-large" aria-hidden="true"></i>
								<p class="counter">110</p>
							</div>
							<p>Best app awards</p>
						</div>
						<div class="col-md-3 col-xs-6 counter-wrapper">
							<div class="top-row">
								<i class="fa fa-bar-chart" aria-hidden="true"></i>
								<p class="counter">213</p>
							</div>
							<p>Top Downloads</p>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End counter -->

	<!-- Screenshot -->
	<!-- <section class="sec-pad">
		<div class="container">
			<div class="row">
				<div class="section-text text-center">
					<h1 class="section-heading">Screenshot</h1>
					<p>Awesome interface</p>
				</div>
				<div class="clearfix"></div>
				<div class="screenshot">
					<div class="owl-carousel loop nplr screen-loop">
						<div>
							<img alt="" src="image/screenshot-img-1.jpg">
						</div>
						<div>
							<img alt="" src="image/screenshot-img-2.jpg">
						</div>
						<div>
							<img alt="" src="image/screenshot-img-3.jpg">
						</div>
						<div>
							<img alt="" src="image/screenshot-img-1.jpg">
						</div>
						<div>
							<img alt="" src="image/screenshot-img-2.jpg">
						</div>
						<div>
							<img alt="" src="image/screenshot-img-3.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End Screenshot -->

	<!-- Team -->
	<!-- <section id="team" class="bg-grey sec-pad">
		<div class="container">
			<div class="row">
				<div class="section-text text-center">
					<h1 class="section-heading">Our team</h1>
					<p>Meet Innovative people</p>
				</div>
				<div class="col-md-12 nplr">
					<div class="team">
						<div class="team-profile">
							<div class="col-md-3 col-sm-6">
								<div class="team-col res-margin">
									<a href="#" class="link">
										<div class="team-hover">
											<div class="team-hover-content text-center">
												<div class="extra-link">
													<i class="fa fa-facebook" aria-hidden="true"></i>
													<i class="fa fa-twitter" aria-hidden="true"></i>
													<i class="fa fa-linkedin" aria-hidden="true"></i>
												</div>
												<p>Mazim rationibus in sea. Harum sententiae eu eos, usu habemus periculis id, quo dican</p>
											</div>
										</div>
										<div class="image">
											<img alt="" src="image/team-member.jpg">
										</div>
									</a>
									<div class="member-name text-center">
										<h4>Mark Linux</h4>
										<p>UI/UX Designer</p>
									</div>							
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="team-col res-margin">
									<a href="#" class="link">
										<div class="team-hover">
											<div class="team-hover-content text-center">
												<div class="extra-link">
													<i class="fa fa-facebook" aria-hidden="true"></i>
													<i class="fa fa-twitter" aria-hidden="true"></i>
													<i class="fa fa-linkedin" aria-hidden="true"></i>
												</div>
												<p>Mazim rationibus in sea. Harum sententiae eu eos, usu habemus periculis id, quo dican</p>
											</div>
										</div>
										<div class="image">
											<img alt="" src="image/team-member-2.jpg">
										</div>
									</a>
									<div class="member-name text-center">
										<h4>Maria Hedge</h4>
										<p>UI/UX Designer</p>
									</div>							
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="team-col res-margin">
									<a href="#" class="link">
										<div class="team-hover">
											<div class="team-hover-content text-center">
												<div class="extra-link">
													<i class="fa fa-facebook" aria-hidden="true"></i>
													<i class="fa fa-twitter" aria-hidden="true"></i>
													<i class="fa fa-linkedin" aria-hidden="true"></i>
												</div>
												<p>Mazim rationibus in sea. Harum sententiae eu eos, usu habemus periculis id, quo dican</p>
											</div>
										</div>
										<div class="image">
											<img alt="" src="image/team-member-3.jpg">
										</div>
									</a>
									<div class="member-name text-center">
										<h4>David Flecher</h4>
										<p>UI/UX Designer</p>
									</div>							
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="team-col">
									<a href="#" class="link">
										<div class="team-hover">
											<div class="team-hover-content text-center">
												<div class="extra-link">
													<i class="fa fa-facebook" aria-hidden="true"></i>
													<i class="fa fa-twitter" aria-hidden="true"></i>
													<i class="fa fa-linkedin" aria-hidden="true"></i>
												</div>
												<p>Mazim rationibus in sea. Harum sententiae eu eos, usu habemus periculis id, quo dican</p>
											</div>
										</div>
										<div class="image">
											<img alt="" src="image/team-member-4.jpg">
										</div>
									</a>
									<div class="member-name text-center">
										<h4>Riana liza</h4>
										<p>UI/UX Designer</p>
									</div>							
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End Team -->
	

	

	<!-- download-section -->
	<!-- <section id="download" class="bg-gradient">
		<div class="parallax-bg sec-pad-lg" style='background-image: url("image/bg-parallax-c.png")' data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="download">
						<div class="download-text text-center light">
							<h1>Download Now</h1>
							<p>Lorem ipsum dolor sit amet eu debet utinam vim Idque accusam ea sit has justo adversarium.</p>
							<div class="btn-holder">
								<a class="btn" href="#"><img alt="" src="image/is-badge.png"></a>
								<a class="btn" href="#"><img alt="" src="image/an-badge.png"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End download-section -->

	<!-- Pricing -->
	<!-- <section id="pricing" class="sec-pad">
		<div class="container">
			<div class="row">
					<div class="section-text text-center">
					<h1 class="section-heading">Pricing Plans</h1>
					<p>Choose your plans</p>
				</div>
				<div class="nplr pricing">
					<div class="col-sm-6 col-md-3">
						<div class="pricing-table animated res-margin wow bounceIn" data-wow-delay="0.1s">
							<div class="pricing-header">
								<h4>INITIAL</h4>
							</div>
							<div class="pricing-content">
								<div class="main-pricing">
									<h4>$20</h4>
									<p>Per Month</p>
								</div>
								<div class="pricing-feature">
									<ul>
										<li>10 gb free space</li>
										<li>20 gb free storage</li>
										<li>full support</li>
										<li>unimited download</li>
									</ul>
								</div>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-secondary" href="#">Get Started</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pricing-table res-margin animated wow bounceIn" data-wow-delay="0.2s">
							<div class="pricing-header">
								<h4>STANDERD</h4>
							</div>
							<div class="pricing-content">
								<div class="main-pricing">
									<h4>$30</h4>
									<p>Per Month</p>
								</div>
								<div class="pricing-feature">
									<ul>
										<li>10 gb free space</li>
										<li>20 gb free storage</li>
										<li>full support</li>
										<li>unimited download</li>
									</ul>
								</div>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-secondary" href="#">Get Started</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pricing-table res-margin clearfix animated wow bounceIn" data-wow-delay="0.3s">
							<div class="pricing-header">
								<h4>BUSINESS</h4>
							</div>
							<div class="pricing-content">
								<div class="main-pricing">
									<h4>$40</h4>
									<p>Per Month</p>
								</div>
								<div class="pricing-feature">
									<ul>
										<li>10 gb free space</li>
										<li>20 gb free storage</li>
										<li>full support</li>
										<li>unimited download</li>
									</ul>
								</div>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-secondary" href="#">Get Started</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pricing-table animated wow bounceIn" data-wow-delay="0.4s">
							<div class="pricing-header">
								<h4>ULTIMATE</h4>
							</div>
							<div class="pricing-content">
								<div class="main-pricing">
									<h4>$50</h4>
									<p>Per Month</p>
								</div>
								<div class="pricing-feature">
									<ul>
										<li>10 gb free space</li>
										<li>20 gb free storage</li>
										<li>full support</li>
										<li>unimited download</li>
									</ul>
								</div>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-secondary" href="#">Get Started</a>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</section> -->
	<!-- End Pricing -->

	<!-- Faq section -->
	<section class="bg-grey sec-pad">
		<div class="container demo">
			<div class="row">
				<div class="section-text text-center">
					<h1 class="section-heading">Faqs</h1>
					<p>Genaral quetions</p>
				</div>
				<div class="faq flex-cont">
					<div class="col-sm-6 col-md-4 hidden-xs">
						<img class="wow animated fadeInLeft" data-wow-delay=".1s" alt="" src="image/mckup-img-a.png">
					</div>	
					<div class="panel-group col-sm-6 col-md-8" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<i class="more-less glyphicon glyphicon-plus"></i>
									What websites do we specialize in?
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<p>We specialize in creating Ecommerce, but also do other variation of websites.
									Check out our porfolio
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
									<i class="more-less glyphicon glyphicon-plus"></i>
									How it works?
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<p>We set you up with one of our developer's over Upwork or Fiverr. </p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
									<i class="more-less glyphicon glyphicon-plus"></i>
									Payments & Transactions & Communication?
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<p>Upwork and Fiverr have a safe payment and transaction system, communcation & services are
									available 24/7
								</p>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End faq -->

	<!--Blog  -->
	<!-- End blog -->

	<!-- Subscribe -->
	<!-- <section class="subscribe overly sec-pad-lg parallax-bg" style='background-image: url("image/bg-parallax-b.jpg")' data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="section-text text-center light animated wow fadeInUp" data-wow-delay=".1s">
					<h1 class="section-heading">Subscribe now</h1>
					<p>Lorem ipsum dolor sit amet menandri lobortis laboramus nec ex, ullum regione instructior duo ei.</p>
				</div>
				<div class="sub-input subscribe col-md-8 col-md-offset-2 custom-form animated wow fadeInUp" data-wow-delay=".1s">
					<form class="custom-form" role="form" action="assets/subscribe.php" method="post">
						<div class="form-group">
							<label for="subscribe-email"><i class="fa fa-envelope-o" aria-hidden="true"></i></label>
							<input type="text" name="email" placeholder="Enter email..." class="subscribe-email form-control" id="subscribe-email">
						</div>
						<button type="submit" class="btn btn-primary">Subscribe</button>
					</form>
					<div class="text-center light result-box">
						<div class="success-message"></div>
						<div class="error-message"></div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End Subscribe -->

	